.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../imagenes/background_slide.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0;
}

.h1 {
    margin: 0px;
}

.hero-form-container {
    height: 63%;
    position: absolute;
    top: 0;
    width: 100%;
}

.row {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}

.h2 {
    color: rgb(0, 0, 0);
    font-family: var(--head-fontFamily);
    font-weight: var(--head-fontWeight);
    font-style: var(--head-fontStyle);
}

.p {
    align-items: baseline;
    color: rgb(0, 0, 0);
    font-family: var(--body-fontFamily);
    font-weight: var(--body-fontWeight);
    font-style: var(--body-fontStyle);
}

.button {
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    box-shadow: none;
    scroll-behavior: smooth;
    font-family: var(--body-fontFamily);
    font-weight: 2rem;
    text-transform: capitalize;
    font-style: var(--body-fontStyle);
    background-color: rgb(89, 89, 89);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border-color: rgb(89, 89, 89);
    padding: 1.3rem;
    &:hover{
        background-color: rgb(41, 40, 40);
        border-color:  rgb(41, 40, 40);
        font-size: 1.2rem;
    }
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .contenedor {
        
    }
    .h1 {
        text-align: center;
        margin: 5px;
    }
    .p{
        text-align: center;
        margin: 5px;
        margin-bottom: 20px;
    }
    .button{
        margin: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 3px;
        text-align: center;

    }
    
  }