
.contenedor{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1{
  margin: 0px;
  align-content: center;
  color: var(--color--luminous-vivid-amber);
}

@media screen and (min-width: 800px) {
  .contenedor {
    margin: 10em 2em;
  }
}