/* Archivo Slider.module.css */

.slider {
    display: flex;
    position: relative;
    height: 300px;
    width: 800px;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  
  .slide {
    display: relative;

    width: 100%;
    height: 100%;
    transition: transform 1s;
    background-repeat: no-repeat;

  }
  
  .left {
    float: left;
    width: 60%;
    height: 100%;
    padding: 25px;
  }
  
  .right {
    float: right;  
    width: 40%;
    height: 100%;
    background-size: cover;
  }
  
  .details {
    padding: 25px;
    background: rgba(255,255,255,0.8);
    width: 80%;
    position: absolute;
    left: 0;
    bottom: 20%;
  }
  
  .actions {
    position: absolute;
    left: 50%;
    bottom: 25px;  
    transform: translateX(-50%);
  }  
  
  .indicators {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);  
  }